.example-spacer{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.example-form {
    margin-top: 40px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 40px;
    width: 120px;
    margin-right: 40px;
    margin-top: 20px;
    
  }