<div>  
  <div class="row">  
    <div class="col-sm-12 btn btn-primary">  
     Attendance  
    </div>  
  </div>  
  <div class="row" style="margin-top:10px;margin-bottom: 10px;">  
    <div class="col-sm-2">  
      <button mat-stroked-button color="primary" routerLink="/linechart">Line Chart</button>  
    </div>  
    <div class="col-sm-2">  
      <button mat-stroked-button color="primary" routerLink="/barchart">Bar Chart</button>  
    </div>  
    <div class="col-sm-2">  
      <button mat-stroked-button color="primary" routerLink="/piechart">Pie Chart</button>  
    </div>  
    <div class="col-sm-2">  
      <button mat-stroked-button color="primary" routerLink="/doughnut">Doughnut Chart</button>  
    </div>  
    <div class="col-sm-2">  
      <button mat-stroked-button color="primary" routerLink="/polararea">Polar Area</button>  
    </div>  
    <div class="col-sm-2">  
    </div>  
  </div>  
</div>  
<hr style="background-color:black" />  
  